.tourx{
    background-image: url('https://www.tourx-react.egenslab.com/static/media/achiv-shape.a7f385e2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}